<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-32</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>T</key>
		<integer>-32</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>T</key>
		<integer>-32</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>T</key>
		<integer>-32</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-64</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>C</key>
		<integer>-64</integer>
		<key>E</key>
		<integer>-64</integer>
	</dict>
</dict>
</plist>
